<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetGrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetGrab.Properties.Settings>
            <setting name="Log" serializeAs="String">
                <value>e:\NetGrab\netgrab.log</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value>e:\NetGrab\downloads\</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FaultLog" serializeAs="String">
                <value>e:\NetGrab\netgrabFault.log</value>
            </setting>
            <setting name="LastStateFile" serializeAs="String">
                <value>e:\NetGrab\last.state</value>
            </setting>
            <setting name="AutoResume" serializeAs="String">
                <value>True</value>
            </setting>
        </NetGrab.Properties.Settings>
    </userSettings>
</configuration>